/*Styles for nav */

body{
    background-color:#d8d8d8;
}

.logo {
    display:inline-block;
    border-radius:1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding:0.5em 0;
    max-width:8em;
}
body > header > div > div > div > nav > div.navbar-header.nav > div > button {
    color:rgb(187, 184, 184);

}

/*Styles for register */

.hide {
    display: none;
}

.show {
    display: block;
}
/* Styles for first section */

.btn-alert {
    text-align:center;
    font-size: 5em;
}

.reportar {
    position:absolute;
    color: #000;
    width: 200px;
    font-size:0.5em;
    font-weight: 700;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body > section:nth-child(3) > div > div > div > div > div > figure > button > i {
    color:#e0263f;
}

.box {
    background-color: #e0263f;
    width: 200px;
    height: 500px;
    border-radius: 15px;
}

.question {
    font-weight: bold;
    text-align:center;
    font-size:2em;
}

[alt="boton-rojo"] {
    width: 80%;
    margin-top: 3rem;
}

/* ESTILOS DEL MODAL */
.icons {
    color:#52C306;
    text-align: center;
    padding:1em;
}

/* Styles for second section */

.container-img {
    height: 30rem;
    display: flex;
    justify-content: center;
}

[alt="iconMujer"] {
    width: 80%;
}

.paragraph{
    margin-top: 3rem;
}

.icon-phone {
    color: #52C306;
    font-size: 8rem;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

.icon-phone-hang-up {
    color: #FE4740;
    font-size: 8rem;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

/* Styles for usuario first and second */

.img-operator-1{
    background-image: url('../assets/images/callcenter.png');
    width: 15rem;
    height:15rem;
    background-size:cover;
    background-position: center center;
 }

.img-operator-2 {
     background-image: url('../assets/images/agente.jpg');
     width: 19rem;
     height:19rem;
     background-size:cover;
     background-position: center center;
}

.btn-img {
     size: 15em;
     background-color: rgba(4, 234, 54, 0.623);
     padding-top: 1rem;
     padding-bottom: 1rem;
     padding-left: 4rem;
     padding-right:4rem;
     border-radius: 1rem;
     font: bold;
     font-size: 2rem;
     font-weight: bold;
   
 }
 
label { 
     color:grey;
}

input[type = "radio"] { 
    display:none;
}

.clasificacion {
     direction: rtl;/* right to left */
     unicode-bidi: bidi-override;/* bidi de bidireccional */
}

label:hover {
    color:orange;
}

label:hover ~ label { 
    color:orange;
}

input[type = "radio"]:checked ~ label {
    color:orange;
}
 
.form {
     width: 250px;
     margin: 0 auto;
     height: 50px;
}
   
.form p { 
    text-align: center; 
}

.form label { 
    font-size: 20px; 
}

input[type="radio"] { 
    display: none;
}

label {
    color: grey;
}
   
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
   
label:hover, label:hover ~ label { 
    color: orange; 
}

input[type="radio"]:checked ~ label { 
    color: orange; 
}
 
.size-star { 
    font-size: 2.0em;
}

/* ESTILOS BLOG */
.sectionBlog {
    margin-top: 2vh;
    margin-bottom: 6vh;
}
.titleBlog {
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.borderBlog {
    border-radius: 15px;
}
.blog-img {
    margin-top: 1vh;
    width: 120%;
    height: auto;
}
.container-answers {
    margin-top: 5vh;
}
/* Sections*/
.blog-form {
    display: inline-block;
    background-color: rgb(174, 209, 206);
    margin-left: 2vh;
    height: 10vh;
}
.control-group {
    background-color: transparent;
    border-bottom: 1px solid #eee;
    margin-top: 1vh;
}
.container-group {
    padding: 0;
}
.container-group textarea {
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    font-size: 1.2em;
    width: 100%;
    min-height: 5vh;
    overflow: hidden;
}
#textArea {
    vertical-align: middle;
}
.divisionMessage{  
    height: 0.5vh;
    background-color:#929191; 
  }
.btn-blog {
    color: #fff;
    border: 1px solid #C4C0BF;
    background-color: #18bc9c;
    padding: 0.6rem 1.5rem; 
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 2vh;
    outline: 0;
    margin-top: 2vh;
    margin-right: 3vh;
    float: right;
}
.btn-blog[disabled] {
    background-color: #C4C0BF;
    color: #fff; 
}

.btn-blog:active {
    background-color: #E0E4E2;
    border: 1px solid #000;
    color: #C4C0BF;
    border-radius: 0.5rem;
    outline: 0;
}
.number1 {
    background-color: transparent;
    border: none;
}
.number{
    background-color: transparent;
    border: none;
}
hr {
    margin: 0;
    margin-right: 1vh;
}
input {
    margin: 0;
}
/* Styles for second-section*/
#second-section {   
    margin-top: 1vh;
    margin-left: 1vh;
}
.paragraph {
    width: 95%;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 1vh;
}
.text {
    font-size: 20px;
}

.hour {
    font-size: 20px;
} 

/* Section Information */

.information-legal {
    background-image: url('../assets/images/metropolitano-normativa.jpg');
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center center ;
    opacity: 2;
}

.content-1 {
    color: white;
    background-color: #08f0dc9d;
    opacity: 9;
    border: 0.3rem solid lightblue;
    width: 30rem;
    height: 12rem;

}

/* Styles question */

.center{
    text-align: center;
 }


