/*Estilos*/
<<<<<<< HEAD

/* Styles for second section */

.container-img {
    height: 30rem;
    display: flex;
    justify-content: center;
}

[alt="iconMujer"] {
    width: 80%;
}

.paragraph{
    margin-top: 3rem;
}

.icon-phone {
    color: #52C306;
    font-size: 8rem;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

.icon-phone-hang-up {
    color: #FE4740;
    font-size: 8rem;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}
=======
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section-register{
    position: relative;
    top: 12em;
}

.display{
    display: none;
}
>>>>>>> 64df3c759bb201791fb577f0fe5ed12be3934743
